<mat-toolbar color="primary" class="navbar">
  <div class="navbar-left">
    <!-- <mat-divider vertical class="menudivider"></mat-divider> -->
    <nav>
      <a mat-button routerLinkActive="active" routerLink="/handbrake">
        <span>Elcik</span>
      </a>
    </nav>
  </div>
  <div class="navbar-right">
    <a mat-flat-button color="primary" class="brand-logo-btn" href="https://www.orientis.ai/">
      <img class="brand-logo-img" src="assets/icons/orientlogo_white.png" />
    </a>
  </div>
  <div class="navbar-right">
    <input type="checkbox" class="checkbox" id="chk" [(ngModel)]="isDarkTheme" />
    <label class="label" for="chk">
      <mat-icon class="day">light_mode</mat-icon>
      <mat-icon class="night">dark_mode</mat-icon>
      <div class="ball"></div>
    </label>
  </div>
</mat-toolbar>
