<!-- "{{handbrakeDetails$ | json}}" -->


<button mat-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>

<h2 mat-dialog-title><img [src]="handbrakeItem.imgSrc" class="table-type-image" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{handbrakeItem.barcode}}</h2>
<div mat-dialog-content class="details-container" *ngIf="(imgPaths$ | async) as imgPaths">


  <div class="grid-container">
    <div class="grid">
      <div *ngFor="let imgPath of imgPaths | keyvalue" class="grid-cell">
        <img src="{{'data:image/jpg;base64,' + imgPath.value}}" class="cam-img" (click)="openFullscreen($event)"/>
        <!-- <h2 (click)="openFullscreen($event)">open</h2>
        <h2 (click)="closeFullscreen()">close</h2> -->
      </div>
    </div>
  </div>

  <!-- <div class="grid-container">
    <mat-grid-list cols="2" rowHeight="2:1" class="grid">
       <mat-grid-tile *ngFor="let imgPath of imgPaths | keyvalue" class="grid-cell">
        <div class="grid-cell-div">
          <img src="{{'data:image/jpg;base64,' + imgPath.value}}" class="cam-img" />
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->

  <!-- <div class="grid-container">
    <mat-grid-list cols="2" rowHeight="2:1" class="grid">
      <mat-grid-tile *ngFor="let imgPath of imgPaths | keyvalue" class="grid-cell">
        <div class="grid-cell-div">
          <img src="{{'data:image/jpg;base64,' + imgPath.value}}" class="cam-img" />
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div> -->


</div>
