.search-mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

.search-container {
  display: flex;
  flex-direction: row;
  height: 100% !important;

  // border-radius: 10px;
  color: var(--color);
  background: var(--background-contrast-color);
}

.search-container-left {
  width: calc(100% - 1em);
  height: calc(100% - 2em);

  margin: 1em 0 0 1em;
  border-radius: 10px;

  color: var(--color);
  background-color: var(--background-color);
}
.search-left {
  padding: 1em;
}

.search-container-right {
  width: calc(100% - 1em);
  height: calc(100% - 2em);

  margin: 1em 0 1em 0;
  border-radius: 10px;

  color: var(--color);
  background-color: var(--background-color);
}
.handbrakes-table {
  overflow: auto;
  height: calc(100% - 50px);
}
.search-right {
  padding: 1em;
  height: calc(100vh - 172px) !important;
}

.graphics-right {
  padding: 1em;
  height: calc(100vh - 172px) !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.graphics-row {
  display: flex;
  flex-direction: row;
  padding: 2em;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.full-width {
  width: 100%;
}

.spinner-container {
  position: relative;
  width: 100%;
  height: 0px;
  text-align: center;
}

.spinner-container mat-spinner {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 20em;

  width: 15em;
}

::ng-deep .mat-progress-spinner svg {
  margin-top: 15em;
}

.type-image {
  height: 2em;
  padding: 0 0 0 1em;
  margin-bottom: -0.5em;
}
.table-type-image {
  height: 2em;
}
.centered {
  display: table;
  margin: 0 auto;
}
.width100 {
  width: 100%;
}

.mat-column-has_fault {
  flex: 0 0 65px;
}
.mat-column-scan_date {
  flex: 0 0 165px;
}
.mat-column-fault_names {
  flex: 0 0 165px;
}
.mat-column-barcode_date {
  flex: 0 0 110px;
}

::ng-deep .ngx-charts text {
  fill: var(--color) !important;
}

.small-text {
  font-size: 1px;
  height: 10px !important;
}
.info-cards {
  padding-right: 3.5em;
  min-width: 216px;
}
ngx-charts-pie-chart {
  margin-left: 20px;
  margin-right: -10px;
}

::ng-deep .ngx-charts .gridline-path {
  stroke: var(--grid-color) !important;
}

::ng-deep .chart-legend .legend-label .active .legend-label-text {
  color: var(--color) !important;
}

// .mat-row {
//   &.selected {
//     background-color: var(--background-contrast-color);
//   }
// }

.mat-row:hover {
  background-color: var(--background-contrast-color);
}

// .mat-cell:hover {
//   background-color: var(--background-contrast-color);
// }
.mat-cell:first-child:hover {
  cursor: pointer;
}
