<ng-container>
  <div class="search-container">
    <as-split direction="horizontal" unit="pixel">
      <as-split-area [size]="270">
        <div class="search-container-left mat-elevation-z8">
          <div class="search-left">
            <form class="options-form" [formGroup]="optionsForm">
              <section class="fault-check-form">
                <mat-form-field class="full-width" appearance="outline">
                  <input type="text" placeholder="Barkod Ara" aria-label="Barkod Ara" matInput #input
                    [formControl]="barcodeFilterControl" formControlName="barcode_filter" autocomplete="off"
                    autocorrect="off" autocapitalize="off" spellcheck="false">
                  <button *ngIf="barcodeFilterExists" matSuffix mat-icon-button aria-label="clear search"
                    (click)="clearBarcodeFilter()" type="button">
                    <mat-icon>close</mat-icon>
                  </button>
                  <!-- <button matSuffix mat-icon-button color="basic" aria-label="apply search" type="button">
                    <mat-icon>search</mat-icon>
                  </button> -->
                </mat-form-field>


                <p>
                  <mat-checkbox formControlName="include_fault" (change)="checkChanged_includeFault()">Hatalı
                  </mat-checkbox>
                </p>
                <p>
                  <mat-checkbox formControlName="include_no_fault" (change)="checkChanged_includeNoFault()">Hatasız
                  </mat-checkbox>
                </p>

                <mat-divider horizontal></mat-divider>

                <p>
                  <mat-checkbox formControlName="type_crm" (change)="checkChanged_typeCrm()">Krom Düğmeli</mat-checkbox>
                  <img src="../../../assets/img/crm.png" class="type-image" />
                </p>
                <p>
                  <mat-checkbox formControlName="type_blk" (change)="checkChanged_typeBlk()">Siyah Düğmeli
                  </mat-checkbox>
                  <img src="../../../assets/img/blk.png" class="type-image" />
                </p>


                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Tarama Tarihi</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Başlangıç" formControlName="date_start">
                    <input matEndDate placeholder="Bitiş" formControlName="date_end">
                  </mat-date-range-input>
                  <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>

                  <p></p>
                  <p>
                    <mat-checkbox formControlName="date_shift1" (change)="checkChanged_includeFault()">1. Vardiya (08:00 - 16:00)
                    </mat-checkbox>
                  </p>
                  <p>
                    <mat-checkbox formControlName="date_shift2" (change)="checkChanged_includeNoFault()">2. Vardiya (16:00 - 24:00)
                    </mat-checkbox>
                  </p>
                  <p>
                    <mat-checkbox formControlName="date_shift3" (change)="checkChanged_includeNoFault()">3. Vardiya (24:00 - 08:00)
                    </mat-checkbox>
                  </p>

                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Barkod Tarihi</mat-label>
                  <mat-date-range-input [rangePicker]="picker2">
                    <input matStartDate placeholder="Başlangıç" formControlName="barcode_date_start">
                    <input matEndDate placeholder="Bitiş" formControlName="barcode_date_end">
                  </mat-date-range-input>
                  <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker2></mat-date-range-picker>
                </mat-form-field>



                <button matSuffix mat-flat-button aria-label="clear all search" class="width100"
                  (click)="clearAllFilter()" [disabled]="noFilterExists" type="button">
                  Filtreyi Temizle
                </button>

              </section>
            </form>
          </div>
        </div>
      </as-split-area>

      <as-split-area>
        <div class="search-container-right mat-elevation-z8">

          <div class="search-right">
            <!-- <app-handbrake-item *ngFor="let item of handbrakeItems | async" [handbrakeItem]="item"></app-handbrake-item> -->


            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
              <mat-spinner color="accent"></mat-spinner>
            </div>

            <mat-table class="handbrakes-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="date"
              matSortDirection="asc" matSortDisableClear>

              <!-- <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let handbrake"><img [src]="handbrake.imgSrc" class="type-image" /></mat-cell>
              </ng-container> -->

              <ng-container matColumnDef="hasFault">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <!-- <mat-cell class="duration-cell" *matCellDef="let handbrake">{{handbrake.has_fault}}</mat-cell> -->
                <mat-cell *matCellDef="let handbrake"><img [src]="handbrake.imgSrc" class="table-type-image" />
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="scan_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tarama Tarihi</mat-header-cell>
                <!-- <mat-cell *matCellDef="let handbrake">{{handbrake.time | date:'short'}}</mat-cell> -->
                <mat-cell *matCellDef="let handbrake">{{handbrake.scan_date | date:'medium'}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="barcode_date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Barkod Tarihi</mat-header-cell>
                <mat-cell *matCellDef="let handbrake">{{handbrake.barcode_date | date:'medium'}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="barcode">
                <mat-header-cell *matHeaderCellDef>Barkod</mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let handbrake">{{handbrake.barcode}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <mat-paginator class="mat-elevation-z8" [length]="dataSource.length$ | async" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" aria-label="Select page">
            </mat-paginator>





          </div>
        </div>
      </as-split-area>

    </as-split>
  </div>
</ng-container>
