<ng-container>
  <div class="search-container">
    <as-split direction="horizontal">

      <as-split-area [size]="20">
        <div class="search-container-left mat-elevation-z8">

          <div class="search-left">

            <form class="options-form" [formGroup]="optionsForm">

              <!-- <mat-form-field class="full-width" appearance="outline">
                <input type="text" placeholder="Elcik Barkodu Ara" aria-label="Barkod Ara" matInput #input
                  [formControl]="options" [matAutocomplete]="auto" (keydown.enter)="applySearch()">
                <mat-autocomplete autoActiveFirstOption="false" #auto="matAutocomplete">
                  <mat-option *ngFor="let option of autoCompleteList | async" [value]="option"
                    (onSelectionChange)="search(option)">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
                <button *ngIf="searchExists" matSuffix mat-icon-button aria-label="clear search" (click)="clearSearch()"
                  type="button">
                  <mat-icon>close</mat-icon>
                </button>
                <button matSuffix mat-icon-button color="basic" aria-label="apply search" (click)="applySearch()"
                  type="button">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field> -->

              <section class="fault-check-form">
                <mat-form-field class="full-width" appearance="outline">
                  <input type="text" placeholder="Elcik Barkodu Ara" aria-label="Barkod Ara" matInput #input
                    [formControl]="barcodeFilterControl" formControlName="barcode_filter"
                    autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                  <button *ngIf="searchExists" matSuffix mat-icon-button aria-label="clear search"
                    (click)="clearBarcodeFilter()" type="button">
                    <mat-icon>close</mat-icon>
                  </button>
                  <!-- <button matSuffix mat-icon-button color="basic" aria-label="apply search" type="button">
                    <mat-icon>search</mat-icon>
                  </button> -->
                </mat-form-field>


                <p>
                  <mat-checkbox formControlName="include_fault">Hatalı</mat-checkbox>
                </p>
                <p>
                  <mat-checkbox formControlName="include_no_fault">Hatasız</mat-checkbox>
                </p>
              </section>

            </form>


            <!-- <section class="example-section" [formGroup]="optionsForm">
              {{optionsForm.value | json}}
            </section> -->

          </div>

        </div>
      </as-split-area>

      <as-split-area [size]="80">
        <div class="search-container-right mat-elevation-z8">

          <div class="search-right">
            <!-- <app-handbrake-item *ngFor="let item of handbrakeItems | async" [handbrakeItem]="item"></app-handbrake-item> -->


            <div class="spinner-container" *ngIf="dataSource.loading$ | async">
              <mat-spinner></mat-spinner>
            </div>

            <mat-table class="handbrakes-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="date"
              matSortDirection="asc" matSortDisableClear>

              <!-- <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                <mat-cell *matCellDef="let handbrake"><img [src]="handbrake.imgSrc" class="type-image" /></mat-cell>
              </ng-container> -->

              <ng-container matColumnDef="hasFault">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <!-- <mat-cell class="duration-cell" *matCellDef="let handbrake">{{handbrake.has_fault}}</mat-cell> -->
                <mat-cell *matCellDef="let handbrake"><img [src]="handbrake.imgSrc" class="type-image" /></mat-cell>
              </ng-container>

              <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Tarih</mat-header-cell>
                <!-- <mat-cell *matCellDef="let handbrake">{{handbrake.time | date:'short'}}</mat-cell> -->
                <mat-cell *matCellDef="let handbrake">{{handbrake.time | date:'medium'}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="barcode">
                <mat-header-cell *matHeaderCellDef>Barkod</mat-header-cell>
                <mat-cell class="description-cell" *matCellDef="let handbrake">{{handbrake.barcode}}</mat-cell>
              </ng-container>


              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>

            <mat-paginator class="mat-elevation-z8" [length]="dataSource.length$ | async" [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions" aria-label="Select page">
            </mat-paginator>





          </div>
        </div>
      </as-split-area>

    </as-split>
  </div>
</ng-container>
